[user]
	name = Simon Hauser
	email = Simon-Hauser@outlook.de

[core]
	editor = nvim
	pager = delta

[alias]
	aa = add --all
	ap = add --patch
	bv = branch -vv
	ba = branch -ra
	bd = branch -d
	ca = commit --amend -v -S
	cb = checkout -b
	st = status --short --branch
	ci = commit -v -S
	co = checkout
	di = diff
	mm = merge --no-ff -S
	br = branch
	unstage = reset HEAD --
	last = log -1 HEAD --show-signature
	uncommit = reset --soft HEAD~1

	graph = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all

	# Code Review
	files = !git diff --name-only $(git merge-base HEAD \"$REVIEW_BASE\")
	stat  = !git diff --stat $(git merge-base HEAD \"$REVIEW_BASE\")
	review = !nvim -p $(git files) +\"tabdo Gdiff $REVIEW_BASE\" +\"let g:gitgutter_diff_base = '$REVIEW_BASE'\"
	reviewone = !nvim -p +\"tabdo Gdiff $REVIEW_BASE\" +\"let g:gitgutter_diff_base = '$REVIEW_BASE'\"

	# External commands
	af = "!files=$(fgst -a '[Add Files] >'); [ \"$files\" = \"\" ] && exit; git add $files && echo \"Files added:\" && echo \"$files\""
	ah = "!files=$(fgst -a '[Add Hunks] >'); [ \"$files\" = \"\" ] && exit; git add --patch $files && echo \"Hunks added:\" && echo \"$files\""
	cf = "!files=$(fgst -c '[Checkout Files] >'); [ \"$files\" = \"\" ] && exit; git checkout -- $files >/dev/null && echo \"Files checkouted:\" && echo \"$files\""
	ch = "!files=$(fgst -c '[Checkout Hunks] >'); [ \"$files\" = \"\" ] && exit; git checkout -p -- $files && echo \"Hunks checkouted:\" && echo \"$files\""
	uf = "!files=$(fgst -u '[Unstage Files] >'); [ \"$files\" = \"\" ] && exit; git reset HEAD -- $files >/dev/null && echo \"Files reseted:\" && echo \"$files\""

	pr = "!pull-request"
	tig = "!tig"

[color]
	ui = true

	diff = auto
	status = auto
	branch = auto

[diff]
	tool = vimdiff3

[difftool "vimdiff3"]
	path = nvim

[merge]
	tool = vimdiff3

[mergetool "vimdiff3"]
	path = nvim


[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22

[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
