[user]
	name = Simon Hauser
	email = Simon-Hauser@outlook.de

[core]
	editor = nvim
	pager = delta

[alias]
	aa = add --all
	ap = add --patch
	bv = branch -vv
	ba = branch -ra
	bd = branch -d
	ca = commit --amend -v -S
	cb = checkout -b
	st = status --short --branch
	ci = commit -v -S
	co = checkout
	di = diff
	mm = merge --no-ff -S
	br = branch
	unstage = reset HEAD --
	last = log -1 HEAD --show-signature
	uncommit = reset --soft HEAD~1

	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	ldate = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
	ldatelong = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative

	# External commands
	af = "!fgstwrap af"
	ah = "!fgstwrap ah"
	cf = "!fgstwrap cf"
	ch = "!fgstwrap ch"
	uf = "!fgstwrap uf"

	fcb = "!fcob"
	fct = "!fcot"
	fcc = "!fcoc"

[color]
	ui = true
	diff = auto
	status = auto
	branch = auto

[pull]
	rebase = true

[diff]
	tool = vimdiff3

[difftool "vimdiff3"]
	path = nvim

[merge]
	tool = vimdiff3

[mergetool "vimdiff3"]
	path = nvim

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22

[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[delta]
	line-numbers = true
	side-by-side = true

	file-modified-label = modified:

[interactive]
	diffFilter = delta --color-only
